 /* styles.css */


 .heading {
    padding:0;
    height: 50px; /* Adjust the height as needed */
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
 
 
}

.icon {
 width: 24px;
 height: 24px;
 background-image: url('C:\\Users\\alius\\OneDrive\\Skrivbord\\Dashboard\\Image\\graph-963016_1280.png');
 background-size: cover;
}
